body{
    padding-top: 10vw;
}
.holi{
    width: 46vw;
    height: 26vw;
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: 19vw;
    
}
.holi div{
    width: 15vw;
    height: 15vw;
    transform: rotate(45deg);
    overflow: hidden;
    position: absolute;
}
.holi img{
    transform: rotate(-45deg) scale(1.42);
    width: 15vw;
    height: 15vw;
    opacity: 0.8;

}
.holi img:hover{
    opacity: 1;
}
.diamond1 img{
    background: url(pics/holi2.jpg);
    background-size: cover;    
}
.diamond2 img{
    background: url(pics/holi3.jpg);
    background-size: cover;
}
.diamond3 img{
    background: url(pics/holi1.jpg);
    background-size: cover;
}
.diamond4 img{
    background: url(pics/holi4.jpg);
    background-size: cover;
}
.diamond5 img{
    background: url(pics/holi5.jpg);
    background-size: cover;
}
.diamond1{
    top: 0;
    left: 0%;
}
.diamond2 {
    bottom: 0;
    left: 25%;
}
.diamond3 {
    top: 0;
    left: 50%;
}
.diamond4 {
    bottom: 0;
    left: 75%;
}
.diamond5 {
    top: 0;
    left: 100%;
}

@media (max-width:600px) {
    body{
        padding-top: 20vw;
    }
    .holi{
        width: 52vw;
        height: 103vw;
        margin-left: 20vw;

    }
    .holi div {
        width: 35vw;
        height: 35vw;
    }
    .holi img{
        width: 35vw;
        height: 35vw;
    }
    .diamond1{
        left: 0;
        top: 0%;
    }
    .diamond2{
        left: 50%;
        top: 25%;
    }
    .diamond3{
        left: 0;
        top: 50%;
    }
    .diamond4{
        left: 50%;
        top: 75%;
    }
    .diamond5{
        left: 0;
        top: 100%;
    }
}
